body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;      
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    min-height: 90vh;
    
}

.form-box {
    background-color: #ffffff4e;
    border-radius: 8px;
    box-shadow: 0 4px 8px #000;
    padding: 20px;
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
    text-shadow: 1px 1px 3px #333;
}

input[type="number"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;    
}

button {
    margin: 2px;
    width: 33%;
    padding: 10px;
    background-color: #2b039e;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.soma {
    background-color: #2b039e;
}
.soma:hover {
    background-color: #2a039e80;
}
.sub {
    background-color: #d28724;
}
.sub:hover {
    background-color: #d28724ae;
}
.mult {
    background-color: #039e39;
}
.mult:hover {
    background-color: #039e399c;
}
.div {
    background-color: #9e034e;
}
.div:hover {
    background-color: #9e034ea2;
}

.result-display {
    margin-top: 20px;
    font-size: 24px;
    color: #333;    
}

#result {
    font-weight: bold;
}