.toolbar-button {
  color: #4758B8;
  text-decoration: none;
  margin-left: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.toolbar-button:hover {
  background-color: #3b54e0e7;
  color: #fff;
}

.toolbar-button1 {
  color: #fff;
  text-decoration: none;
  margin-left: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.toolbar-button1:hover {
  background-color: #ff4787cc;
  color: #fff;
}



