.button {
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    font-weight: bold;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: orange;
    position: relative;

    &:active {
        bottom: -2px;
    }

    &--white {
        background-color: #fff;
    }

    &--purple {
        background-color: #a056d9;
    }
}